---
version: "3.7"
services:

  portainer:
    container_name: "portainer"
    image: portainer/portainer:latest
    labels:
      com.pandam-pic.description: "Portainer instance"
    ports:
      - "9000:9000"
    networks:
      - pandamanet
    restart: on-failure
    stop_grace_period: 30s
    volumes:
      - portainer-data:/data portainer/portainer
      - "/var/run/docker.sock:/var/run/docker.sock"

  nexus:
    container_name: "nexus"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 60s
    image: sonatype/nexus3:3.15.2
    labels:
      com.pandam-pic.description: "Nexus3 instance"
    ports:
      - "8081:8081"
    networks:
      - pandamanet
    restart: on-failure
    stop_grace_period: 30s
    volumes:
      - nexus-data:/nexus-data

  jenkins:
    container_name: "jenkins"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 60s
    image: jenkins/jenkins:lts
    labels:
      com.pandam-pic.description: "Jenkins2 instance"
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - pandamanet
    restart: on-failure
    stop_grace_period: 30s
    volumes:
      - jenkins_home:/var/jenkins_home

networks:
  pandamanet:

volumes:
  nexus-data:
  jenkins_home:
  portainer-data:
