---
version: "3.7"
services:

  traefik:
    container_name: "traefik"
    # command: --api --docker # Enables the web UI and tells Traefik to listen to docker
    hostname: traefik
    image: traefik:v1.7.12 # The official Traefik docker image
    labels:
      com.pandama-pic.status: "development"
      traefik.docker.network: pandama-net
      traefik.enable: true
      traefik.frontend.rule: "Host:traefik.docker.local"
      traefik.port: 8080
    networks:
      - pandama-net
    ports:
      - "80:80"     # The HTTP port
    expose:
      - "8080"
    restart: always
    stop_grace_period: 30s
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./traefik/traefik.toml:/traefik.toml"

  portainer:
    container_name: "portainer"
    depends_on:
      - traefik
    command: -H unix:///var/run/docker.sock --admin-password='$$2y$$05$$EemWf3aAeyOLC5wfblQNXeauyQ2.x.lgoDz85/bAnI.Vi7NeOBMTu'
    hostname: portainer
    image: portainer/portainer:1.21.0
    labels:
      com.pandama-pic.status: "stable"
      traefik.docker.network: pandama-net
      traefik.enable: true
      traefik.frontend.rule: "Host:portainer.docker.local"
      traefik.port: 9000
    networks:
      - pandama-net
    ports:
      - "9000:9000"
    restart: always
    stop_grace_period: 30s
    volumes:
      - portainer-data:/data
      - "/var/run/docker.sock:/var/run/docker.sock"

  nexus:
    container_name: "nexus"
    depends_on:
      - portainer
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081"]
      interval: 90s
      timeout: 30s
      retries: 3
      start_period: 60s
    hostname: nexus
    image: sonatype/nexus3:latest
    labels:
      com.pandama-pic.status: "stable"
      traefik.docker.network: pandama-net
      traefik.enable: true
      traefik.frontend.rule: "Host:nexus.docker.local"
      traefik.port: 8081
    networks:
      - pandama-net
    ports:
      - "8081:8081"
    restart: always
    stop_grace_period: 30s
    volumes:
      - nexus-data:/nexus-data

  jenkins:
    container_name: "jenkins"
    depends_on:
      - portainer
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 90s
      timeout: 30s
      retries: 3
      start_period: 60s
    hostname: jenkins
    image: jenkins/jenkins:lts
    labels:
      com.pandama-pic.status: "development"
      traefik.docker.network: pandama-net
      traefik.enable: true
      traefik.frontend.rule: "Host:jenkins.docker.local"
      traefik.port: 8080
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - pandama-net
    restart: always
    stop_grace_period: 30s
    volumes:
      - jenkins-home:/var/jenkins_home

  gitlab:
    container_name: "gitlab"
    depends_on:
      - portainer
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://192.168.66.11'
        gitlab_rails['gitlab_shell_ssh_port'] = 23
        gitlab_rails['initial_root_password'] = "password1*"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 90s
      timeout: 30s
      retries: 3
      start_period: 60s
    hostname: "192.168.66.11"
    image: gitlab/gitlab-ce:latest
    labels:
      com.pandama-pic.status: "development"
      traefik.docker.network: pandama-net
      traefik.enable: true
      traefik.frontend.rule: "Host:gitlab.docker.local"
      traefik.port: 80
    networks:
      - pandama-net
    ports:
      - '81:80'
      - '443:443'
      - '23:22'
    restart: always
    stop_grace_period: 30s
    volumes:
      - gitlab-config:/etc/gitlab
      - gitlab-logs:/var/log/gitlab
      - gitlab-data:/var/opt/gitlab

  sonarqube:
    container_name: "sonarqube"
    depends_on:
      - portainer
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000"]
      interval: 90s
      timeout: 30s
      retries: 3
      start_period: 60s
    hostname: sonarqube
    image: sonarqube:latest
    labels:
      com.pandama-pic.status: "development"
      traefik.docker.network: pandama-net
      traefik.enable: true
      traefik.frontend.rule: "Host:sonar.docker.local"
      traefik.port: 9000
    networks:
      - pandama-net
    ports:
      - '9001:9000'
    restart: always
    stop_grace_period: 30s
    volumes:
      - sonarqube-conf:/opt/sonarqube/conf
      - sonarqube-data:/opt/sonarqube/data
      - sonarqube-extensions:/opt/sonarqube/extensions
      - sonarqube-logs:/opt/sonarqube/logs

networks:
  pandama-net:
    driver: bridge
    # ipam:
    #   driver: default
    #   config:
    #     - subnet: 172.66.0.0/16
    name: pandama-net
    labels:
      com.pandama-pic.status: "development"

volumes:
  gitlab-config:
    labels:
      com.pandama-pic.status: "development"
    name: gitlab-config
  gitlab-data:
    labels:
      com.pandama-pic.status: "development"
    name: gitlab-data
  gitlab-logs:
    labels:
      com.pandama-pic.status: "development"
    name: gitlab-logs
  jenkins-home:
    labels:
      com.pandama-pic.status: "development"
    name: jenkins-home
  nexus-data:
    labels:
      com.pandama-pic.status: "stable"
    name: nexus-data
  portainer-data:
    labels:
      com.pandama-pic.status: "stable"
    name: portainer-data
  sonarqube-conf:
    labels:
      com.pandama-pic.status: "development"
    name: sonarqube-conf
  sonarqube-data:
    labels:
      com.pandama-pic.status: "development"
    name: sonarqube-data
  sonarqube-extensions:
    labels:
      com.pandama-pic.status: "development"
    name: sonarqube-extensions
  sonarqube-logs:
    labels:
      com.pandama-pic.status: "development"
    name: sonarqube-logs
